body {
  background: yellow;
  border: 2px;
}
#redText {
  background: red;
  color: white;
}
#red {
  background: red;
  color: white;
}

#greenText {
  background: green;
  color: white;
}

#green {
  background: green;
  color: white;
}

#blueText {
  background: blue;
  color: white;
}

#blue {
  background: blue;
  color: white;
}

#color {
  height: 150px;
  width: 150px;
  border: 1px solid;
  background: rgb(0, 0, 0);
}
